:root {
  --mc: #325DCD;
  --sc: #4189d0;
  --lc: #ffffff;
  --dc: #444444;
  --gc: #dddddd;
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/*********** TopBanner 시작 ***********/
.TopBanner{
  visibility: visible;
  height: 80px;
  background: var(--mc);
  color:  var(--lc);
}

.TopBanner.on {
  /* height: 0;
  transition: 0.5s; */
  visibility: hidden;
  height: 0;
  transition: 0.5s;
} 

.TopBanner .inner{
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}
.TopBanner .inner .call{
  display: flex;
  align-items: center;
  gap: 10px;
}
.TopBanner .inner .call>i{
  font-size: 50px;
  color:  var(--lc);
}
.TopBanner .inner .call>span{
  display: block;
  font-size: 29px;
}
.TopBanner .inner .call>a{
  display: block;
  font-size: 40px;
}
.TopBanner .inner .call .time span{
  display: block;
  line-height: 25px;
}

.TopBanner .inner .notOpen{
  display: flex;
  align-items: center;
}

.TopBanner .inner .notOpen .today input{
  vertical-align: -1px;
}

.TopBanner .inner .notOpen>i{
  font-size: 12px;
  cursor: pointer;
  background:  var(--gc);
  padding: 4px;
  border-radius: 50%;
  color:  var(--dc);
}

.TopBanner .inner .notOpen>*{
  margin-left: 10px;
}
/*********** TopBanner 끝 ***********/
/*********** Header 시작 ***********/
.Header .inner .top {
  text-align: right;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.Header .inner .top i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.Header .inner .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header .inner .bottom .gnb ul{
  display: flex;
  gap: 70px;
  padding: 30px 0;
  font-size: 19px;
  font-weight: 500;
}

.bottom .menu_bar i{
  cursor: pointer;
  font-size: 22px;
}
.bottom .menu_bar i:first-child{
  margin-right: 10px;
}
/*********** Header 끝 ***********/
/*********** MainVisual 시작 ***********/

.mainVisual {
  position: relative;
}
.mainVisual .mainSlider figure{
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150% auto;
}

.mainVisual .mainSlider .itm01{
  background: url(../public/assets/images/main01.jpg);
}

.mainVisual .mainSlider .itm02 {
  background: url(../public/assets/images/main02.jpg);
  ;
}
.mainVisual .mainSlider .itm03 {
  background: url(../public/assets/images/main03.jpg);
  ;
}
.mainVisual .mainSlider .itm04 {
  background: url(../public/assets/images/main04.jpg) ;
  ;
}
.mainVisual .mainSlider .itm05 {
  background: url(../public/assets/images/main05.jpg) ;
  ;
}
.smartBar{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  background-image: linear-gradient(to right,#57A1EC, #325DCD);
}

.smartBar .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.smartBar .tit{
  font-size: 25px;
  font-weight: 500;
}
.smartBar .barMenu ul{
  display: flex;
  gap: 50px;
}

.smartBar .barMenu ul li{
  font-size: 20px;
  font-weight: 300;
}
.smartBar .reserv a{
  border-left: 2px solid #4189d0;
  display: flex;
  align-items: center;
}

.smartBar .reserv a i{
  font-size: 35px;
  padding: 0 10px;
}

.smartBar .reserv a p:first-child{
  font-size: 23px;
  margin-bottom: 8px;
}

.smartBar .reserv a p:last-child{
  font-size: 18px;
}

/*********** MainVisual 끝 ***********/